
<footer class="footer-section set-bg" style="background-image: url(Content/image/footer-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 footer-widget">
                <img src="Content/image/logo__.png" alt="">
                @*<p>Lorem ipsum dolo sit azmet, consecter dipise consult  elit. Maecenas mamus antesme non anean a dolor sample tempor nuncest erat.</p>*@
                <div class="social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-widget">
                <div class="contact-widget">
                    <h5 class="fw-title">LIÊN HỆ CHÚNG TÔI</h5>
                    <p><i class="fa fa-map-marker"></i>114 Đông Hồ, Tân Bình, Hồ Chí Minh</p>
                    <p><i class="fa fa-phone"></i>(+88) 666 121 4321</p>
                    <p><i class="fa fa-envelope"></i>reals@amberos.com</p>
                    <p><i class="fa fa-clock-o"></i>Thứ 2 - Thứ 7, 08 AM - 06 PM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-widget">
                <div class="double-menu-widget">
                    <h5 class="fw-title">ĐỊA ĐIỂM PHỔ BIẾN</h5>
                    <ul>
                        <li><a href="">Quận 1</a></li>
                        <li><a href="">Quận 3</a></li>
                        <li><a href="">Quận 5</a></li>
                        <li><a href="">Quận 7</a></li>
                        <li><a href="">Tân Bình</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Quận 2</a></li>
                        <li><a href="">Quận 4</a></li>
                        <li><a href="">Quận 6</a></li>
                        <li><a href="">Quận 8</a></li>
                        <li><a href="">Quận 10</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  footer-widget">
                <div class="newslatter-widget">
                    <h5 class="fw-title">BẢN TIN</h5>
                    <p>Đăng ký Email của bạn để nhận được tin tức mới nhất và ưu đãi về giảm giá</p>
                    <form class="footer-newslatter-form">
                        <input type="text" placeholder="Địa chỉ email">
                        <button><i class="fa fa-send"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-nav">
                <ul>
                    <li><a href="">Trang Chủ</a></li>
                    <li><a href="">Danh Sách Nổi Bật</a></li>
                    <li><a href="">Thông Tin</a></li>
                    <li><a href="">Pages</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Liên hệ chúng tôi</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@code {

}
