@using WebPWA.Shared
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="home-center">
    <div class="banner-home-slide">
        <div class="home-search">
            <div class="home-search-tool">
                <ul class="home-search-tab">
                    <li id="search1" class="actived" @onclick="Active1">Nhà đất bán</li>
                    <li id="search2" class="" @onclick="Active2">Nhà đất cho thuê</li>
                </ul>
                <div class="home-search-content">
                    <div class="home-search-control">
                        <div class="search-cate">
                            <div class="select-custom">
                                <o id="lblCurrCate">Loại nhà đất</o>
                            </div>
                            <div id="divCatagoryReOptions" class="advance-select-options"><ul><li vl="0"><span>Tất cả nhà đất</span></li><li vl="324"><span><img src="https://file4.batdongsan.com.vn/images/newhome/icon3x/chungcu.png">Căn hộ chung cư</span></li><li vl="362"><span><img src="https://file4.batdongsan.com.vn/images/newhome/icon3x/nhaban.png">Các loại nhà bán</span><ul style="min-width: 210px !important;"><li vl="41"><span>Nhà riêng</span></li><li vl="325"><span>Nhà biệt thự, liền kề</span></li><li vl="163"><span>Nhà mặt phố</span></li></ul></li><li vl="361"><span><img src="https://file4.batdongsan.com.vn/images/newhome/icon3x/datban.png">Các loại đất bán</span><ul style="min-width: 210px !important;"><li vl="40"><span>Đất nền dự án</span></li><li vl="283"><span>Bán đất</span></li></ul></li><li vl="44"><span><img src="https://file4.batdongsan.com.vn/images/newhome/icon3x/trangtrai.png">Trang trại, khu nghỉ dưỡng</span></li><li vl="45"><span><img src="https://file4.batdongsan.com.vn/images/newhome/icon3x/khonhaxuong.png">Kho, nhà xưởng</span></li><li vl="48"><span><img src="https://file4.batdongsan.com.vn/images/newhome/icon3x/bdskhac.png">Bất động sản khác</span></li></ul></div>
                        </div>
                        <div class="search-input">
                            <input type="text" id="txtSearch" placeholder="Tìm kiếm địa điểm, khu vực" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="txtSearch" class="ui-autocomplete-input">
                            <input type="hidden" id="keyWord" name="KeyWord">
                        </div>
                        <div class="search-button">
                            <input type="button" class="btn-home-search" value="Tìm kiếm" id="btnSearch">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-center bg-grey">
    <div class="product">
        <h2 style="line-height: 60px;margin-left:10%">Bất động sản HOT</h2>
        <a href="#" style="margin:0px 50px 20px;float:right">Xem thêm</a>
        <div class="clear"></div>
        <ul>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="product">
        <h2 style="line-height: 60px;margin-left:10%">Bất động sản dành cho bạn</h2>
        <a href="#" style="margin:0px 50px 20px;float:right">Xem thêm</a>
        <div class="clear"></div>
        <ul>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="product">
        <h2 style="line-height: 60px;margin-left:10%">Tin đang chờ duyệt</h2>
        <a href="#" style="margin:0px 50px 20px;float:right">Xem thêm</a>
        <div class="clear"></div>
        <ul>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="product-thump">
                        <a title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" href="estedetail">
                            <img class="product-img" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185" />
                        </a>
                    </div>
                    <div class="home-product-bound">
                        <a class="product-title" href="estedetail" title="Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185">Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</a>
                        <div class="product-price">
                            Giá thỏa thuận
                        </div>
                        <div class="pro-m2">85 m²</div>
                        <div class="product-address">
                            <span>Biên Hòa</span>,
                            <span>Đồng Nai</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

@code {
    private async void Active1()
    {
        await JSRuntime.InvokeVoidAsync("ActiveSearch1");
    }

    private async void Active2()
    {
        await JSRuntime.InvokeVoidAsync("ActiveSearch2");
    }

    private void NavigateToDetail()
    {
        NavigationManager.NavigateTo("estedetail");
    }

    private ServiceResponse<List<User>> userResponse = new ServiceResponse<List<User>>();

    private List<User> users = new List<User>();

    private string temp = string.Empty;

    //protected override async Task OnInitializedAsync()
    //{
    //    userResponse = await UserService.GetAllUser();
    //    users = userResponse.Data;
    //    if (users != null && users.Count > 0)
    //    {
    //        foreach(User a in users)
    //        {
    //            temp += "X: " + a.LoginName;
    //        }
    //    }
    //    else temp = "No";
    //}
}
