@inject NavigationManager NavigationManager
@using WebPWA.Shared
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (isLogin)
{
    <div class="top-row px-4">
        <h4><b>Xin chào @fullName</b></h4>
        <button class="btn btn-danger" @onclick="LogoutUser">Đăng xuất</button>
    </div>
}
else
{
    <div class="top-row px-4">
        <button class="btn btn-danger" @onclick="LoginUser">Đăng nhập</button>
    </div>
}

@code {
    UserSession currentUser = new UserSession();
    string key = "userInfo";
    string fullName;
    bool isLogin = false;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await localStorage.GetItemAsync<UserSession>(key);
        if (currentUser != null)
        {
            isLogin = true;
            fullName = currentUser.LoginName;
        }
    }

    private void LoginUser()
    {
        NavigationManager.NavigateTo("user/login", true);
    }

    private void LogoutUser()
    {
        ClearLocalStorage();
        NavigationManager.NavigateTo("/", true);
    }

    public async void ClearLocalStorage()
    {
        await localStorage.ClearAsync();
    }
}
