<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Real Este App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Trang chủ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="selleste">
                <span class="oi oi-plus" aria-hidden="true"></span> Nhà đất bán
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="renteste">
                <span class="oi oi-plus" aria-hidden="true"></span> Nhà đất cho thuê
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link">
                <span class="oi oi-minus" aria-hidden="true"></span> My Listing
            </NavLink>
            <ul class="nav">
                <li class="nav-item submenu">
                    <NavLink class="nav-link" href="property/addproperty">
                        Thêm tin
                    </NavLink>
                </li>
                <li class="nav-item submenu">
                    <NavLink class="nav-link" href="manageeste">
                        Quản lí tin đăng
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link">
                <span class="oi oi-minus" aria-hidden="true"></span> Admin user
            </NavLink>
            <ul class="nav">
                <li class="nav-item submenu">
                    <NavLink class="nav-link" href="user/register">
                        Thêm user
                    </NavLink>
                </li>
                <li class="nav-item submenu">
                    <NavLink class="nav-link" href="user/userlist">
                        Quản lí user
                    </NavLink>
                </li>
            </ul>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="user/login">
                <span class="oi oi-plus" aria-hidden="true"></span> Đăng nhập
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
