@page "/login"
@using WebPWA.Shared
@using Client.ViewModel
@inject UserViewModel _userViewModel
@inject NavigationManager NavigationManager
@inject UserSession _userSession

<h3>Login</h3>

<EditForm Model="@user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="username">User Name</label>
        <InputText id="username" @bind-Value="user.LoginName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">User Name</label>
        <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</EditForm>

@code {
    UserLogin user = new UserLogin();
    public async Task HandleLogin()
    {
        _userViewModel.LoginName = user.LoginName;
        _userViewModel.LoginPassword = user.Password;
        await _userViewModel.LoginUser();
        NavigationManager.NavigateTo("/");
    }
}
