@page "/propertydetail/{id}"

<div class="product-detail" style="margin-left:20px">
    <div class="row">
        <div class="col-md-5">
            <img class="product-img" style="width:400px" src="https://file4.batdongsan.com.vn/crop/257x147/2020/08/20/20200820142131-ad88_wm.jpg" alt="" />
        </div>
        <div class="col-md-7">
            <h3>Đất thổ cư mặt tiền đường Đặng Văn Trơn, Hiệp Hòa, Biên Hòa, SHR, TT 612tr/85m2, LH 0356445185</h3>
            <p>Mức giá: <span><b>thỏa thuận</b></span></p>
            <p>Diện tích: <span><b>85 m²</b></span></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="detail-1 pad-bot-16" style="margin-top:20px">
        <span class="title-detail">Thông tin mô tả</span>
        <div class="des-product" style="overflow: visible;">
            - Tôi chính chủ cần cho thuê gấp căn hộ chung cư KingDom 101, Quận 10, Tp. HCM.
            <br>- Diện tích 82m2, 2 phòng ngủ, 2WC, giá 12 triệu/tháng. (Nhà Đẹp).
            <br>- Trang bị vào đầy đủ nội thất cho thuê giá 16 triệu/tháng.
            <br>- Chỉ cần sách vali vào là ở, k cần sắm thêm gì.
            <br>- Tiện ích chung cư, Hồ Bơi, gym, khuôn viên rộng rãi, thoáng mát, nằm ngay trung tâm nên dễ dàng đy lại các quận.
            <br>- Xem nhà LH: <span class="hidden-phone hidden-mobile des" raw="0931.541.615">0931.541.***</span> (Hoàng).
        </div>
        <ul class="short-detail-2 list2 clearfix">
            <li><span class="sp1">Ngày đăng:</span><span class="sp3">20/11/2020</span></li>
            <li><span class="sp1">Ngày hết hạn:</span><span class="sp3">27/11/2020</span></li>
            <li><span class="sp1">Loại tin:</span><span class="sp3">Tin thường</span></li>
        </ul>
    </div>
</div>

@code {

}
